- name: user - keygen dependency
  become: true
  ansible.builtin.package: name=openssh state=present
- name: home - create the user
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    password: "{{ item.password | default(omit) }}"
    generate_ssh_key: "{{ generate_ssh_key }}"
    ssh_key_type: ed25519
    ssh_key_file: .ssh/id_ed25519
    groups: wheel
    append: yes
  with_items: "{{ users }}"
- name: home - create a 'workspace' folder for the user
  become: true
  ansible.builtin.file:
    path: "/home/{{ item.username }}/workspace"
    state: directory
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
    mode: '0755'
  with_items: "{{ users }}"
- name: home - create local bin folders
  become: true
  ansible.builtin.file:
    path: "/home/{{ item[0].username }}/{{ item[1] }}"
    state: directory
    owner: "{{ item[0].username }}"
    group: "{{ item[0].username }}"
    mode: '0755'
  with_nested:
    - "{{ users }}"
    - [ 'bin', '.local/bin' ]
- name: user - configure git user.name
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.git_config:
    name: user.name
    value: "{{ item.git_name }}"
    scope: global
  loop: "{{ users }}"
  when: item.git_name is defined
- name: user - configure git user.email
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.git_config:
    name: user.email
    value: "{{ item.git_email }}"
    scope: global
  loop: "{{ users }}"
  when: item.git_email is defined