---
- name: Vscode - add repo
  become: true
  ansible.builtin.yum_repository:
    name: code
    description: Visual Studio Code
    gpgcheck: true
    enabled: true
    file: vscode
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
    baseurl: https://packages.microsoft.com/yumrepos/vscode
- name: Vscode - install
  become: true
  ansible.builtin.dnf:
    name:
      - code
    state: present
- name: Vscode - install extensions
  become: true
  become_user: "{{ item.0.username }}"
  ansible.builtin.command:
    cmd: "code --install-extension {{ item.1 }}"
  loop: "{{ users | product(vscode_extensions) | list }}"
  register: vscode_ext_install
  changed_when: "'successfully installed' in vscode_ext_install.stdout"
