---
- name: zsh - install oh-my-zsh via installer script
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.shell:
    cmd: 'curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh | sh -s -- --unattended'
    creates: "/home/{{ item.username }}/.oh-my-zsh"
  with_items: "{{ users }}"
- name: zsh - cloning powerlevel10k
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ item.username }}/.oh-my-zsh/custom/themes/powerlevel10k"
  with_items: "{{ users }}"
- name: zsh - Generate ~.zshrc
  become: true
  ansible.builtin.template:
    mode: 0644
    src: zshrc.j2
    owner: "{{ item.username }}"
    group: "{{ item.username }}"    
    dest: "/home/{{ item.username }}/.zshrc"
  with_items: "{{ users }}"
- name: zsh - add zsh as default shell to the user
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    shell: /bin/zsh
  with_items: "{{ users }}"