---
- name: Zsh - download oh-my-zsh installer
  become: true
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: /tmp/ohmyzsh-install.sh
    mode: '0755'
- name: Zsh - install oh-my-zsh
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.command:
    cmd: /tmp/ohmyzsh-install.sh --unattended
    creates: "/home/{{ item.username }}/.oh-my-zsh"
  loop: "{{ users }}"
- name: Zsh - cloning powerlevel10k
  become: true
  become_user: "{{ item.username }}"
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ item.username }}/.oh-my-zsh/custom/themes/powerlevel10k"
  loop: "{{ users }}"
- name: Zsh - Generate ~.zshrc
  become: true
  ansible.builtin.template:
    mode: '0644'
    src: zshrc.j2
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
    dest: "/home/{{ item.username }}/.zshrc"
  loop: "{{ users }}"
- name: Zsh - add zsh as default shell to the user
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    shell: /bin/zsh
  loop: "{{ users }}"
