---
- name: go - install package
  become: true
  ansible.builtin.dnf:
    name: golang
    state: present
- name: go - install tools
  become: true
  become_user: "{{ item.0.username }}"
  ansible.builtin.command: "go install {{ item.1 }}"
  loop: "{{ users | product(go_tools) | list }}"
