---
- name: Go - install package
  become: true
  ansible.builtin.dnf:
    name: golang
    state: present
- name: Go - setup environment variables
  become: true
  ansible.builtin.copy:
    dest: /etc/profile.d/go.sh
    content: |
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOPATH/bin
    mode: '0644'
- name: Go - install tools
  become: true
  become_user: "{{ item.0.username }}"
  ansible.builtin.command: "go install {{ item.1 }}"
  changed_when: false
  loop: "{{ users | product(go_tools) | list }}"
