---
- name: ansible - install ansible and linting tools
  become: true
  ansible.builtin.dnf:
    name:
      - ansible
      - ansible-lint
      - yamllint
    state: present
- name: ansible - create default directory structure
  become: true
  ansible.builtin.file:
    path: "/home/{{ item.0.username }}/.ansible/{{ item.1 }}"
    state: directory
    owner: "{{ item.0.username }}"
    group: "{{ item.0.username }}"
    mode: '0755'
  loop: "{{ users | product(['roles', 'collections']) | list }}"