---
- name: Virtualization - install packages
  become: true
  ansible.builtin.dnf:
    name: "{{ virtualization_packages }}"
    state: present

- name: Virtualbox - install packages
  become: true
  ansible.builtin.dnf:
    name:
      - VirtualBox
      - akmod-VirtualBox
      - kernel-devel
      - kernel-headers
    state: present

- name: Virtualbox - install current kernel headers
  become: true
  ansible.builtin.dnf:
    name: "kernel-devel-{{ ansible_facts['kernel'] }}"
    state: present
  ignore_errors: true

- name: Virtualbox - enable akmods service
  become: true
  ansible.builtin.service:
    name: akmods
    enabled: true

- name: Virtualbox - build kernel modules
  become: true
  ansible.builtin.command: akmods
  changed_when: true

- name: Virtualbox - load kernel module
  become: true
  ansible.builtin.command: modprobe vboxdrv
  register: vbox_modprobe
  changed_when: false
  failed_when: false

- name: Virtualbox - handle module load error
  ansible.builtin.fail:
    msg: >
      Unable to load VirtualBox kernel module.
      Original Error: {{ vbox_modprobe.stderr }}
  when: vbox_modprobe.rc != 0
  ignore_errors: true

- name: Virtualbox - add users to vboxusers group
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: vboxusers
    append: true
  loop: "{{ users }}"
